body,p,div,span,li,ul,td,tr,table{
	margin:0;
	padding:0;
}
body {
	font-family: monospace;
	background: #FFFFEA;
}

#console {
	background: #444444;
	color: #fff;
	border-right: 1px solid black;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40%;
	overflow: auto;
}
#cmd {
	background: #444444;
	color: #fff;
	font-family: monospace;
	border: none;
	border-left: .3em solid #318787;
	width: calc(100% - 2px - .3em);
}
#cmd:focus{
	background: #318787;
	color: #fff;
}

#editor {
	margin-left: 40%;
}

#content {
	padding: 1em;
	margin: 2em 0;
}
.out {
	padding: .5em;
	border-left: 2px solid #FFF;
	margin: 1em 0;

}
.filecontent .title {
	padding: .5em;
	border-bottom: 1px solid black;
}
.file:hover {
	cursor: default;
}
.file.highlight {
	border: 1px solid black;
}
.lineno{
	text-align: right;
	vertical-align: top;
	padding: 0 .5em;
	cursor: default;
}
.lineno.bp{
	background: #956b8e;
	color: #FFF;
}
.lineno:hover{
	cursor: pointer;
}
.linetext{
	white-space: pre-wrap;
}
.linetext.highlight {
	background: #DBDBB6;
}