body,p,div,span,li,ul,td,tr,table{
	margin:0;
	padding:0;
}
body {
	background: #FFFFEA;
	font-family: monospace;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	background: #FFFFFF;
	width: 300px;
	height: 100%;
	overflow: auto;
	padding: 1em;
}

#filesystem {
	left: 0;
	border-right: 1px solid #000;	
}
#filesystem>div{
	margin-bottom: 4em;
}
#files {
	margin: 0 calc(300px + 2em);
}

#variables {
	right: 0;
	border-left: 1px solid #000;
}
#cmd {
	position: fixed;
	left: calc(300px + 2em);
	right: calc(300px + 2em);
	bottom: 0;
	padding: 0;
	border: 1px solid #DBDBB6;
	font-family: monospace;
	background: #DBDBB6;
	display: block;
}
#cmd:focus{
	border: 1px solid #956b8e;
}
#content {
	padding: 1em;
	margin: 2em 0;
}
.file:hover {
	background: none repeat scroll 0% 0% rgba(190, 255, 255, 1);
	cursor: default;
}
.file.highlight {
	border: 1px solid black;
}
.lineno{
	text-align: right;
	vertical-align: top;
	padding: 0 .5em;
	cursor: default;
}
.lineno.bp{
	background: #956b8e;
	color: #FFF;
	border-radius: .5em;
}
.lineno:hover,.linetext:hover {
	background: #DBDBB6;
}
.linetext{
	white-space: pre-wrap;
}
.linetext.highlight {
	background: #DBDBB6;
}