<!doctype html>
<head>
	<link rel="stylesheet" href="/base.css" />
	<title>Debugo</title>
</head>

<body>

	<div class="view" id="console">
		<div id="output"></div>
		<input id="cmd" />
	</div>
	<div class="view" id="editor"></div>	


	<!-- templates start here -->
	
	<script type="text/template" id="tmpl-file-content">
		<p class="title"><%- name %></p>
		<table></table>
	</script>

	<script type="text/template" id="tmpl-line">
		<tr>
			<td class="lineno line<%- number %>"><%- number %></td>
			<td class="linetext textlineno<%- number %>"><%- line %></td>
		</tr>
	</script>
	<script type="text/template" id="tmpl-console">
		<% if (title !== undefined) { %>
		<p class="title"><%- title %></p>
		<% } %>
	</script>
	<script type="text/template" id="tmpl-"></script>

	<!-- templates end here -->
	
	<script src="/jquery.js"></script>
	<script src="/underscore.js"></script>
	<script src="/backbone.js"></script>
	<script src="/base.js"></script>
	<script>
		$(document).ready(function(){
			a = new App();
		});
	</script>
</body>
